* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum","Arial", sans-serif;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


a {
  text-decoration: none;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: #f4f7f9;
}


.main-header li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.personal-interaction {
  width: 100%;

  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum","Arial", sans-serif;
  color: #ffffff;

  background-color: #293449;
}

.personal-interaction a {
  display: block;

  color: #ffffff;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}


.personal-interaction-wrapper {
  display: flex;
}


.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.logo-button {
  width: 220px;
  height: 47px;
  margin-bottom: -5px;
  padding: 13px 55px 15px 56px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}
.logo-button:hover {
  background-color: #ba2732;
}

.logo-button:active {
  background-color: #ba2732;
}

.site-search {
  position: relative;

  display: inline-block;
  width: 270px;
  height: 42px;
  height: 42px;

  background-color: #293449;
}
.site-search:hover {
  background-color: #212a3a;
}


.site-search-input {
  width: 270px;
  height: 42px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 48px;

  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
  outline: none;
}

.site-search-input:active {
  color: #000000;

  background-color: #ffffff;
}
.site-search-input:focus {
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.img-site-search {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;
}
.site-search:hover .img-site-search {
  opacity: 1;
}

.site-search-input:focus + .img-site-search {
  color: red;
}


.personal-link {
  position: relative;

  width: 150px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 13px;

  background-color: #293449;
}
.personal-link:hover {
  background-color: #212a3a;
}
.personal-link:active {
  background-color: #161d29;
  opacity: 0.6;
}

.favorites {
  padding-left: 44px;
}

.img-favorites {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  opacity: 0.3;
}

.cart {
  padding-left: 50px;
}

.img-cart {
  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  opacity: 0.3;
}

.personal-link:hover svg {
  opacity: 1;
}
.personal-link:active svg {
  opacity: 0.5;
}


.buy-button {
  padding-bottom: 12px;
  padding-left: 20px;

  background-color: #63a63e;
}
.buy-button:hover {
  background-color: #5fbb2d;
}
.buy-button:active {
  background-color: #518534;
}

.full-cart {
  background-color: #ee3643;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
  padding-bottom: 10px;
  padding-left: 55px;
}

.contacts-wrapper a {
  display: block;
}

.main-header h1 {
  margin: 0;
  margin-right: 71px;
  margin-bottom: 31px;
  padding: 0;
  padding-left: 7px;

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum","Arial", sans-serif;
  color: #ee3643;
  letter-spacing: normal;
}
.inner-title {
  margin: 0;
  margin-right: 71px;
  margin-bottom: 31px;
  padding: 0;
  padding-left: 7px;

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum","Arial", sans-serif;
  color: #ee3643;
  letter-spacing: normal;
}

.header-contacts {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}



.main-header .contact-button {
  position: relative;

  width: 270px;
  height: 45px;
  margin: 0;
  margin-right: 69px;
  padding: 6px 42px 11px 71px;

  font-size: 21px;
  line-height: 1;
  color: #e9292a;

  border: 3px solid #ffffff;
}

.main-header .contact-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts span {
  margin-left: 10px;
}

.main-header  .inner-header-contacts {
  margin-right: 51px;
}


.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation .login-link {
  position: relative;

  width: 121px;
  height: 45px;
  margin-right: 10px;
  padding: 9px 27px 15px 48px;
}

.user-navigation svg {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  fill: #c5c5c5;
}



.user-navigation .chek-in {
  width: 150px;
  height: 45px;
  padding: 9px 25px;
}

.user-navigation a:hover {
  color: #ee3643;
}
.user-navigation a:hover svg {
  fill: #32425c;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-navigation a:active svg {
  fill: #c5c5c5;
}


.personal-area {
  margin: 0;
  padding: 0;
}

.personal-area-list {
  position: relative;

  display: flex;
  width: 299px;
  height: 45px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.personal-area .log-in:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-area .log-in {
  padding: 9px 39px 12px 47px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}


.log-in svg {
  position: absolute;
  top: 10px;
  left: 14px;

  width: 20px;
  height: 18px;

  fill: #c5c5c5;
}

.log-out {
  width: 20px;
  height: 17px;
}

.log-out svg {
  position: absolute;
  top: 11px;
  right: 10px;

  width: 20px;
  height: 17px;

  fill: #c5c5c5;
}

.log-in:hover svg,
.log-out:hover svg {
  fill: #32425c;
}

.log-in:active svg,
.log-out:active svg {
  fill: #c5c5c5;
}




.personal-tools {
  position: relative;

  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 3px;
}

.personal-tools a {
  margin: 0 16px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.personal-tools a:hover {
  color: #ee3643;
}
.personal-tools a:active {
  color: rgba(50, 66, 92, 0.3);
}

.personal-tools::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 108px;

  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;
}

.main-nav {
  width: 940px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 var(--dark);
}

.main-nav a:hover {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 var(--dark);
}

.main-nav a:active {
  background-color: #1d2739;
}

.site-navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a {
  display: block;
  padding: 20px 30px 18px;

  color: #ffffff;
}

.main-product {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.product-nav {
  display: flex;
  margin: 0;
  margin-top: 59px;
  padding: 0;
}

.product-nav  li {
  position: relative;

  width: 300px;
  height: 123px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 23px;

  list-style: none;
  color: #ffffff;
}


.product-nav a {
  display: block;
  width: 135px;
  height: 38px;
  margin-top: 15px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
}
.product-nav h3 {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}



.product-materials {
  background-color: #ffbf47;
}

.bage-new {
  position: relative;

  overflow: hidden;
}
.bage-new::before {
  content: "new";
  position: absolute;
  top: 6px;
  right: -22px;
  z-index: 100;

  width: 84px;
  padding: 4px 0 5px;

  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  transform: rotate(45deg);
}



.product-materials a::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url(../img/icon-1.svg);
}

.product-tools {
  background-color: #3bbce3;
}

.product-tools a::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url(../img/icon-2.svg);
}

.product-nav .product-technique {
  margin: 0;

  background-color: #dc91d8;
}

.product-technique a::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url(../img/icon-3.svg);
}


.service-nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0;
  padding: 0;
}
.service-nav  li {
  position: relative;

  width: 300px;
  height: 123px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 23px;

  list-style: none;
  color: #ffffff;
}


.service-nav  a {
  display: block;
  width: 135px;
  height: 38px;
  margin-top: 15px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
}
.service-nav h3 {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}



.product-sale {
  background-color: #8ed78f;
}
.product-sale a::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url(../img/icon-4.svg);
}

.product-delivery {
  background-color: #ffc047;
}

.product-delivery a::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url(../img/icon-5.svg);
}


.main-slider {
  position: relative;

  width: 620px;
  height: 266px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.slide-first {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;

  background: url(../img/slide-img1.png);
}
.slide-second {
  display: none;
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;

  background: url(../img/slide-img-2.jpg);
}

.slide h4 {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slide p {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}



.slider-past {
  position: absolute;
  top: 114px;
  left: 25px;

  width: 22px;
  height: 40px;

  background: transparent url(../img/icon-left.svg);
  border: none;
}
.slider-next {
  position: absolute;
  top: 114px;
  right: 20px;

  width: 22px;
  height: 40px;

  background: transparent url(../img/icon-right.svg);
  border: none;
}

.slider-button {
  display: block;
  width: 195px;
  height: 38px;
  margin-top: 122px;
  padding: 11px 44px 10px 50px;

  font-size: 14px;
  line-height: 18px;
}
.dot-slide-first {
  position: absolute;
  bottom: 36px;
  left: 295px;

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}

.dot-slide-second {
  position: absolute;
  right: 295px;
  bottom: 36px;

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}

.dot-active::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border: none;
  border-radius: 50%;
}

.main-popular-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-top: 52px;

  background-color: #f9f5f0;
}

.main-popular h2,
.main-company h2 {
  margin-top: 31px;
  margin-bottom: 25px;
  margin-left: 28px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.main-popular .button {
  width: 253px;
  height: 38px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 24px;
  padding-top: 11px;
  padding-left: 55px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 2px;
}

.main-popular .catalog-list {
  width: 940px;
  margin: 0;
  margin-top: 21px;
  padding: 0;
  padding-right: 20px;
}

.main-company-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;

  background-color: #f9f5f0;
}

.main-company .button {
  width: 253px;
  height: 38px;
  margin-top: 26px;
  margin-right: 25px;
  margin-bottom: 24px;
  padding-top: 11px;
  padding-left: 70px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 2px;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
}

.company-list  li {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
}

.company-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin: 0;

  border: solid 1px #eaeaea;
}

.company-list a:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.company-list a:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service {
  margin: 0;
  margin-top: 85px;
  padding: 0;
  padding-top: 68px;

  background-color: #f4f7f9;
}

.service h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service p {
  width: 398px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans","Arial", sans-serif;
}

.service-wrapper {
  position: relative;

  display: flex;
  padding-bottom: 105px;
}

.main-service-nav {
  position: relative;

  width: 240px;
  margin: 0;
  margin-top: 71px;
  padding: 0;
}

.main-service-nav::after {
  content: "";
  position: absolute;
  top: -46px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/divider.png);
}

.main-service-nav li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-button {
  width: 240px;
  height: 61px;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-left: 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border: none;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}
.service-button:hover {
  background-color: #293449;
  border: none;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.service-button:active,
.service-button-active {
  color: #32425c;

  background-color: #ffffff;
  border: none;
  box-shadow: 0 1px 0 0 #ffffff,
  inset 0 1px 0 0 #ffffff;
}


.service-slide {
  margin: 0;
  margin-left: 80px;
  padding: 0;
}

.service-slide h3 {
  margin: 0;
  margin-top: 67px;
  margin-bottom: 26px;
  padding: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.service-slide p {
  width: 275px;

  font-size: 13px;
  line-height: 24px;
}



.delivery::after {
  content: "";
  position: absolute;
  top: 93px;
  right: 0;

  width: 468px;
  height: 261px;

  background-image: url(../img/dilivery_img.png);
}

.guarantee {
  display: none;
}

.guarantee p {
  width: 313px;
}

.guarantee::after {
  content: "";
  position: absolute;
  top: 71px;
  right: -5px;

  width: 386px;
  height: 261px;

  background-image: url(../img/guarntee-img.png);
}

.credit {
  display: none;
}

.credit  p {
  width: 279px;
  margin-bottom: 25px;
}
.credit a {
  display: block;
  width: 195px;
  height: 38px;
  padding: 14px 44px;

  font-size: 14px;
  line-height: 18px;

  border-radius: 3px;
}

.credit::after {
  content: "";
  position: absolute;
  top: 70px;
  right: -10px;

  width: 465px;
  height: 285px;

  background-image: url(../img/credit-img.png);
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  position: relative;

  margin-top: 21px;
  margin-right: 40px;
  margin-bottom: 19px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs li:first-child {
  width: 14px;
  height: 12px;
}


.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -26px;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
}


.index-link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 14px;
  height: 12px;

  background-image: url(../img/icon-home.svg);
}


.inner-container h1 {
  width: 940px;
  height: 89px;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-colums {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  margin-right: 20px;
  padding: 0;

  font-family: "PT Sans","Arial", sans-serif;
  text-transform: uppercase;
}
.filters ul {
  margin: 0;
  padding: 0;
}

.filters li {
  list-style: none;
}
.filters h2 {
  width: 220px;
  height: 38px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 18px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;
}


.filter-coast-wrapper {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-coast-wrapper legend {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-coast {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.filter-coast-range {
  width: 220px;
  padding: 39px 20px;

  background-color: #f7f3ec;
}

.range {
  position: relative;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.range-progress {
  position: absolute;
  top: 0;
  left: 0;

  width: 152px;
  height: 2px;

  background-color: #0fca75;
}

.range-needle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 0 0 #dfdcd7;
}

.range-needle-second {
  position: absolute;
  top: -9px;
  left: 140px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 0 0 #dfdcd7;
}

.range-needle::before,
.range-needle-second::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 4px;
}

.filter-coast input {
  width: 95px;
  height: 38px;
  margin-top: 9px;
  margin-bottom: 26px;
  padding: 12px;

  text-align: center;

  background-color: #f7f3ec;
  border: none;
}

.filter-coast .min {
  margin-right: 30px;
  padding-left: 14px;
}

.min::after {
  content: "";
  position: absolute;
  top: 107px;
  left: 106px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.assortment {
  display: flex;
  width: 700px;
  margin: 0;
  margin-bottom: 18px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 19px;

  background-color: #f7f3ec;
}

.assortment h3 {
  margin: 0;
  margin-right: 139px;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.assortment-nav {
  display: flex;
  margin: 0;
  padding: 0;
}
.assortment li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.assortment-nav a {
  margin-right: 65px;

  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;

  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
}


.assortment-nav .active {
  margin-right: 71px;

  color: #ee3643;
  text-decoration: none;
}

.assortment-nav .features {
  margin-right: 46px;
}

.filter-more {
  width: 11px;
  height: 10px;
  margin: 0;
  margin-top: 3px;
  margin-right: 22px;
  padding: 0;

  background: transparent url(../img/icon-up-dir.svg);
  border: none;
}

.filter-less {
  width: 11px;
  height: 10px;
  margin: 0;
  margin-top: 3px;
  padding: 0;

  background: transparent url(../img/icon-down-dir.svg);
  border: none;
}



.filter {
  padding-top: 18px;

  border-top: 1px solid #e5e5e5;
}


.filter-brands {
  min-width: 220px;
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-brands legend {
  width: 141px;
  height: 30px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}


.filter-brands li,
.filter-power li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 34px;
}



.filter-brands label,
.filter-power label {
  position: relative;

  display: block;

  font-size: 15px;
  line-height: 20px;

  cursor: pointer;

  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  opacity: 0.79;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url(../img/checkbox-on.svg);
}
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox + label:hover {
  opacity: 1;
}
.filter-input-checkbox:disabled + label {
  opacity: 0.3;
}


.filter-power {
  width: 220px;
  height: 120px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 63px;
  padding: 0;

  border: none;
}

.filter-power legend {
  width: 141px;
  height: 30px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-power li {
  margin: 0;
  margin-bottom: 20px;
}



.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  opacity: 0.79;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on.svg);
  opacity: 0.79;
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-input-radio:hover + label::before,
.filter-input-radio + label:hover {
  opacity: 1;
}

.secondary-button {
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.filter-button {
  width: 140px;
  height: 38px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}




.catalog {
  width: 700px;

  font-family: "PT Sans","Arial", sans-serif;
}

.catalog ul {
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
}

.catalog-list .catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 318px;
  margin-bottom: 20px;

  list-style: none;
  font-weight: bold;
  line-height: 20px;

  border: solid 1px #e5e5e5;
}


.show-buttons {
  display: none;
  width: 218px;
  height: 170px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}


.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .product-photo {
  display: none;
}

.catalog-item:hover .show-buttons {
  display: flex;
  flex-direction: column;
}

.catalog-list li {
  list-style: none;
}

.product-photo {
  width: 218px;
  height: 168px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.catalog-item .product-photo img {
  max-width: 100%;
}






.catalog-list h3 {
  width: 188px;
  margin: 0;
  padding: 0;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 10px;

  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans","Arial", sans-serif;
  text-align: center;
}

.old-price {
  min-height: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 0 25px;

  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.price {
  position: relative;

  width: 137px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 30px 10px 36px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background: #ee3643;
  border-radius: 3px;
}
.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}


.add-to-cart {
  position: relative;

  display: block;
  width: 133px;
  margin: 42px 42px 8px;
  padding: 10px 47px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum","Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.add-to-cart svg {
  position: absolute;
  top: 11px;
  left: 14px;

  width: 15px;
  height: 15px;

  opacity: 0.3;

  fill: #ffffff;
}


.add-to-cart:hover {
  background-color: #5fbb2d;
}



.add-to-cart:active {
  background-color: #518534;
  box-shadow: none;
}

.add-to-cart:hover svg,
.add-to-cart:active svg {
  opacity: 1;
}


.add-to-favorites {
  width: 135px;
  height: 38px;
  margin: 3px 43px 10px 40px;
  padding: 6px 23px 6px 33px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum","Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  border: solid 3px #63a63e;
  border-radius: 3px;
}

.add-to-favorites:hover {
  border: solid 3px #32425c;
}

.add-to-favorites:active {
  color: rgba(50, 66, 92, 0.3);

  border: solid 3px #32425c;
  opacity: 0.3;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  padding-top: 75px;
}

.main-about {
  width: 550px;
}


.main-about h2 {
  width: 302px;
  height: 21px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}



.main-about p,
.main-contacts p {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans","Arial", sans-serif;
  color: #000000;
}

.main-about p {
  margin-bottom: 26px;
}

.main-about p:nth-of-type(2) {
  width: 386px;
  margin-bottom: 19px;
}

.about-list {
  margin: 0;
  padding: 0;
}

.about-list li {
  position: relative;

  margin-bottom: 21px;
  padding-left: 36px;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.about-list li:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}


.about-list li:last-child {
  margin-bottom: 37px;
}
.main-about a {
  display: block;
  width: 220px;
  height: 38px;
  margin: 0;
  padding: 9px 29px 13px 40px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}



.main-about a:hover,
.main-contacts .button:hover,
.button:hover {
  background-color: #ca2c37;
}

.main-about a:active,
.main-contacts .button:active,
.button:active {
  background-color: #ba2732;
}
.main-contacts {
  width: 300px;
}

.main-contacts h2 {
  width: 120px;
  height: 21px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

 .main-contacts .map-link {
  width:300px;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.main-contacts .button {
  display: block;
  width: 300px;
  height: 38px;
  margin: 0;
  padding: 11px 57px 13px 64px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}
.main-contacts p {
  width: 179px;
  width: 179px;
  height: 36px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}
.main-contacts img {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-list li {
  list-style: none;
}

.pagination-item {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0;
  margin-top: 32px;
  margin-right: 10px;
  margin-bottom: 60px;
  padding: 6px 16px 12px 15px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.pagination-item:hover {
  border: solid 1px #bdc6ca;
}

.pagination-item:active {
  border: solid 1px #ee3643;
}

.pagination-next {
  width: 140px;
  height: 38px;
  padding: 8px 32px 13px 32px;

  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.pagination-list .pagination-item-current {
  width: 38px;
  height: 38px;

  color: #ffffff;

  background-color: #ee3643;
}

.inner-about-wrapper {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 70px;

  background-color: #f2f6f8;
}


.inner-about h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum","Arial", sans-serif;
  color: #000000;
}

.inner-about p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans","Arial", sans-serif;
  color: #000000;
}

.main-footer {
  background-color: #32425c;
}

.footer-logo {
  height: 68px;
  margin-bottom: 26px;
  padding: 18px 40px 25px 41px;
}

.footer-top {
  display: flex;
}
.footer-info {
  display: flex;
  flex-direction: column;
  width: 326px;
}

.footer-contacts {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-left: 3px;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-phone {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}


.footer-sections-nav,
.footer-categories-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 ;
  padding: 0;
}

.footer-nav {
  width: 488px;
}


.footer-nav li {
  list-style: none;
}

.footer-nav a {
  font-size: 18px;
  line-height: 24px;
}

.footer-sections-nav {
  padding-left: 68px;
}

.footer-categories-nav {
  padding-left: 91px;
}

.footer-sections-nav li {
  margin-top: 36px;
  padding-left: 59px;
}

.footer-sections-nav a {
  color: #f1f5f7;
}

.footer-categories-nav li {
  margin-top: 34px;
  padding-left: 59px;
}
.footer-nav-item:first-child {
  padding-left: 0;
}

.footer-categories-nav a {
  color: #ffd180;
}

.footer-sections-nav a:hover,
.footer-categories-nav a:hover,
.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-sections-nav a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-categories-nav a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  padding-top: 36px;
  padding-bottom: 35px;

  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
}

.footer-bottom .copyright {
  width: 228px;
  margin: 0;
  margin-right: 161px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-right: 120px;
  padding: 0;
}

.footer-social li {
  list-style: none;
}

.footer-bottom .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-bottom p {
  width: 96px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom .footer-e-mail-form {
  width: 135px;
  margin-right: 53px;
}


.footer-bottom a {
  color: #ffd180;
}
.footer-bottom a:active {
  color: #ee3643;
}



.modal-close {
  position: absolute;
  top: 0;
  top: 0;
  right: 0;
  right: 0;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}


.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 21px;
  height: 21px;

  background-image: url(../img/icon-close.svg);
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 940px;
  height: 446px;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
}

.modal-map  .modal-close {
  top: 9px;
  right: 9px;
}




.feedback-modal {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 620px;
  height: 430px;

  font-size: 18px;
  line-height: 18px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
}

.feedback-modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 620px;
  height: 7px;

  background-color: #ee3643;
}
.feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin: 0 auto;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 35px;
}



.feedback-text {
  width: 220px;
}

.feedback-form input {
  width: 220px;
  height: 38px;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 21px;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 13px;
  padding-left: 14px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  color: #a9a9a9;

  border: solid 2px #d7dcde;
}



.feedback-form textarea {
  width: 460px;
  height: 114px;
  margin: 0;
  margin-top: 11px;
  padding: 0;
  padding-top: 8px;
  padding-left: 15px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  color: #a9a9a9;

  border: solid 2px #d7dcde;

  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: solid 2px #b5b5b5;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  border: solid 2px #ee3643;
}

.feedback-form .modal-close {
  top: 17px;
  right: 9px;
}
.feedback-button-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 35px 80px;

  background-color: #f4f4f4;
}


.feedback-form .send-button {
  width: 460px;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: none;
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 620px;
  height: 282px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
}

.cart-modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 620px;
  height: 7px;

  background-color: #ee3643;
}


.cart-modal h2 {
  width: 620px;
  height: 170px;
  margin: 0;
  padding-top: 74px;
  padding-left: 180px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum","Arial", sans-serif;
}

.cart-modal  h2::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url(../img/modal-check.svg);
}

.cart-modal a {
  width: 220px;
  height: 38px;
  margin-right: 20px;
  padding-top: 12px;
  padding-right: 62px;
  padding-bottom: 14px;
  padding-left: 59px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum","Arial", sans-serif;
  text-transform: uppercase;

  border-radius: 3px;
}

.cart-modal-wrapper {
  display: flex;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #f1f1f1;
}
.cart-modal .secondary-button {
  padding: 11px 43px;
}

.cart-modal .modal-close {
  top: 17px;
  right: 9px;
}

.modal {
  z-index: 9000;
}
