body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 17px;
    line-height: 17px;

    background-color:#fff;

}

a {
    text-decoration: none;
}

.main-header {
  width: 1200px;
  height: 320px;
  background-color:#f4f7f9;
}

.main-header a {
    color: #fff;
}
.main-header li {
    list-style: none;
}

.personal-interection {
  width: 1200px;
  height: 42px;
  background-color:#293449;

  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color:#fff;
}
.button {
    background-color: #ee3643;
    color:#fff;
    font-size: 14px;
    line-height: 18px;
}

.logo-button {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.logo-button:hover {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.logo-button:active {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}
.logo-button:focus {
    border:solid 2px #ee3643;
    outline: none;
}

.site-search {
    display: inline-block;
    background-color: #293449;
    height: 42px;
}
.site-search:hover  {
    background-color: #212a3a;
}
.site-search:hover .site-search-img {
    opacity: 1;
}

.site-search-input {
    width: 270px;
    height: 42px;
    background-color:transparent;
    color:#fff;
    border: none;
}
.site-search-input:active {
    background-color: #fff;
    color:#000;
}
.site-search-input:focus {
    background-color: #fff;
    color:#000;
    border: none;
}

.site-search-img {
    width: 17px;
    height: 17px;
    opacity: 0.3;
}
.site-search-input:focus + .site-search-img {
    color: red;
}



.personal-link {
  width: 150px;
  height: 42px;
  background-color: #293449;
}
.personal-link:hover{
    background-color: #212a3a;
}
.personal-link:active {
    background-color: #161d29;
}

.buy-button {
    background-color:#63a63e;
}
.buy-button:hover {
    background-color: #5fbb2d;
}
.buy-button:active {
    background-color: #518534;
}

.full-cart {
    background-color: #ee3643;
}

.main-header h1 {
  width: 196px;
  height: 60px;
  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.main-header .contact-button {
  width: 270px;
  height: 45px;
  border: 3px solid #fff;
  color:#e9292a;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.4px;
} 
.header-contacts {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation a {
  font-size: 21px;
  color: #000;
  background-color: #fff;
  
}

.user-navigation .login-link {
  width: 121px;
  height: 45px;
}

.user-navigation .chek-in {
  width: 150px;
  height: 45px;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.personal-area .log-in {
    width: 299px;
    height: 45px;
    background-color: #fff;
    font-size: 21px;
    color: #000;
}

.log-out {

}

.personal-area .log-in:active,
.personal-area .log-out {
    color: rgba(0, 0, 0, 0.3);
}


.personal-tools a{
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}
.personal-tools a:hover{
    color:#ee3643;
}
.personal-tools a:active {
    color: rgba(50, 66, 92, 0.3);
}

.main-nav {
    width: 940px;
    height: 60px;
    box-shadow: inset 0px -5px 0 0 var(--dark);
    background-color: #32425c;
}

.main-nav a {
  width: 127px;
  height: 60px;

}
.main-nav a:hover {
    box-shadow: inset 0px -5px 0 0 var(--dark);
    background-color: #32425c;
  }

.main-nav a:active {
    background-color: #1d2739;
}

.breadcrumbs a {
    font-family: "PT Sans","Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}

.breadcrumbs li {
list-style: none;
}
.inner-conteiner h1 {
    width: 940px;
    height: 89px;
    background-color: #f2f6f8;

    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
}

.filters {
    font-family:"PT Sans","Arial", sans-serif;
    text-transform: uppercase;
    
}
.filters li {
    list-style: none;
}

.filters h2{
    width: 220px;
    height: 38px;
    background-color: #f7f3ec;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.filter-brands {
    width: 220px;
    height: 262px;
    border: none;
}
.filter-brands legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.filter-brands label {
    font-size: 15px;
    line-height: 20px;
}

.filter-power {
    width: 220px;
    height: 120px;
    border: none;
}

.secondary-button {
    background-color: #fff;
    border: solid 1px #e5e5e5;
    color:#000;
}

.filter-button {
    width: 140px;
    height: 38px;
    font-size: 13px;
    line-height: 18px;
}



.catalog {
    font-family:"PT Sans","Arial", sans-serif;
}

.catalog-list .show-more {
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;
  list-style: none;
  font-weight: bold;
}

.show-more:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-list li {
    list-style: none;
}

.catalog-list h3 {
  font-size: 18px;
  line-height: 20px;
}

.old-price {
    width: 67px;
    height: 12px;
    font-size: 17px;
    line-height: 18px;
    text-decoration:line-through;
    color: #999999;
}

.price {
    width: 141px;
    height: 38px;
    font-size: 17px;
    line-height: 18px;
}

.add-to-cart {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.add-to-cart:hover {
  background-color: #5fbb2d;
}
.add-to-cart:active {
  background-color: #518534;
  box-shadow: none;
}

.add-to-favorites {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;

  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.add-to-favorites:hover {
    border: solid 3px #32425c;
}

.add-to-favorites:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  color: rgba(50, 66, 92, 0.3);
}


.main-about h2 {
    width: 300px;
    height: 21px;
    font-size: 30px;
    color: #000000;
}

.main-about p,
.main-contacts p {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.main-about p {
  width: 519px;
  height: 37px;
}

.main-about li {
  font-size: 18px;
  line-height: 20px;
}
.main-about a {
    width: 220px;
    height: 38px;
}

.main-about a:hover,
.main-contacts a:hover,
.button:hover {
    background-color: #ca2c37;
}

.main-about a:active,
.main-contacts a:active,
.button:active {
    background-color: #ba2732;
}

.main-contacts h2 {
    font-size: 30px
}

.main-contacts a {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
}
.main-contacts p {
  width: 179px;
  height: 36px;
}

.pagination-list li{
 list-style: none;
  
}

.pagination-list a {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-size: 13px;
  font-family: "PT Sans","Arial", sans-serif;
  line-height: 18px;
  color: #000;

}
.pagination-list a:hover {
    border: solid 1px #bdc6ca;
}

.pagination-list a:active {
    border: solid 1px #ee3643;
}

.pagination-item-current {
    width: 38px;
  height: 38px;
    background-color: #ee3643;
}

.main-footer {
  width: 1200px;
  height: 300px;
  background-color: #32425c;
}

.footer-logo {
    height: 68px;
}

.footer-contacts {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-phone {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-nav li {
list-style: none;
}

.footer-nav a{
    font-size: 18px;
    line-height: 24px;
}

.footer-sections-nav a{
    
    color: #f1f5f7;
}
.footer-categories-nav a {
    color: #ffd180;
}

.footer-sections-nav a:hover,
.footer-categories-nav a:hover,
.footer-bottom a:hover  {
    text-decoration: underline;
}

.footer-sections-nav a:active {
    color: rgba(241, 245, 247, 0.5);
}

.footer-categories-nav a:active {
    color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
    width: 1200px;
  height: 107px;
  background-color:#293449;
}

.copyright {
    width: 228px;
    height: 33px;
    font-size: 16px;
    line-height: 18px;
    color:#fff;
}

.footer-social li{
 list-style: none;
}

.footer-bottom .social-button{
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    color: #fff;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.footer-bottom p {
    font-size: 16px;
    line-height: 18px;
    color:#fff;
}

.footer-bottom a {
    color: #ffd180;
}
.footer-bottom a:active {
    color: #ee3643;
}



.feedback-modal {
    width: 620px;
    height: 430px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.feedback-form {
    font-size: 18px;
    line-height: 18px;
}

.feedback-form input {
    width: 220px;
    height: 38px;
    border: solid 2px #d7dcde;
}

.feedback-form textarea {
  width: 460px;
  height: 114px;
  border: solid 2px #d7dcde;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border: solid 2px #b5b5b5;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
    border: solid 2px #ee3643;
}

.modal-close {
  width: 21px;
  height: 21px;
}


.feedback-form .send-button {
    width: 460px;
    height: 38px;
}

.modal {
    display: none;
}