* {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 17px;
    line-height: 17px;

    background-color:#fff;
    box-sizing: border-box;
}

  

a {
    text-decoration: none;
}

.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:#f4f7f9;
}

.main-header a {
    display: block;
    color: #fff;
}
.main-header li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.personal-interaction {
  width: 100%;

  background-color:#293449;

  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color:#fff;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}


.personal-interaction-wrapper {
    display:flex;
}


.button {
    background-color: #ee3643;
    color:#fff;
    font-size: 14px;
    line-height: 18px;
}

.logo-button {
  width: 220px;
  height: 47px;
  margin-bottom: -5px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.logo-button:hover {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.logo-button:active {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}
.logo-button:focus {
    border:solid 2px #ee3643;
    outline: none;
}

.site-search {
    width: 270px;
    height: 42px;
    display: inline-block;
    background-color: #293449;
    height: 42px;
}
.site-search:hover  {
    background-color: #212a3a;
}
.site-search:hover .site-search-img {
    opacity: 1;
}

.site-search-input {
   
    background-color:transparent;
    color:#fff;
    border: none;
    line-height: 18px;
}
.site-search-input:active {
    background-color: #fff;
    color:#000;
}
.site-search-input:focus {
    background-color: #fff;
    color:#000;
    border: none;
}

.site-search-img {
    width: 17px;
    height: 17px;
    opacity: 0.3;
}
.site-search-input:focus + .site-search-img {
    color: red;
}



.personal-link {
  width: 150px;
  height: 42px;
  background-color: #293449;
}
.personal-link:hover{
    background-color: #212a3a;
}
.personal-link:active {
    background-color: #161d29;
}

.buy-button {
    background-color:#63a63e;
}
.buy-button:hover {
    background-color: #5fbb2d;
}
.buy-button:active {
    background-color: #518534;
}

.full-cart {
    background-color: #ee3643;
}

.main-header h1 {
  width: 197px;
  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 23px;
  color: #ee3643;
}
.inner-footer-title {
  width: 197px;
  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 23px;
  color: #ee3643;
}

.main-header .contact-button {
  width: 270px;
  height: 45px;
  border: 3px solid #fff;
  color:#e9292a;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.4px;
} 
.contacts-wrapper {
display: flex;
justify-content: space-between;
padding-left:55px;
padding-top:50px;
padding-bottom:10px;
}


.header-contacts {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
    display: flex;
    padding: 0;
    margin: 0;
}

.user-navigation a {
  font-size: 21px;
  color: #000;
  background-color: #fff;
  line-height: 21px;
  
}

.user-navigation .login-link {
  width: 121px;
  height: 45px;
}

.user-navigation .chek-in {
  width: 150px;
  height: 45px;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.personal-area {
    margin: 0;
    padding: 0;
}

.personal-area .log-in {
    width: 249px;
    height: 45px;
    background-color: #fff;
    font-size: 21px;
    color: #000;
    line-height: 21px;
}


.log-out {
width: 50px;
height: 45px;
}

.personal-area-list {
    display: flex;
    margin: 0;
    padding: 0; }

.personal-area .log-in:active,
.personal-area .log-out {
    color: rgba(0, 0, 0, 0.3);
}

.personal-tools {
    display: flex;
    margin: 0;
    padding: 0;
}


.personal-tools a{
    margin: 0 15px;
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
    line-height: 18px;
}
.personal-tools a:hover{
    color:#ee3643;
}
.personal-tools a:active {
    color: rgba(50, 66, 92, 0.3);
}

.main-nav {
    width: 940px;
    padding:0;
    margin: 0;
    margin-bottom: 60px;
    box-shadow: inset 0px -5px 0 0 var(--dark);
    background-color: #32425c;
}

.main-nav a:hover {
    box-shadow: inset 0px -5px 0 0 var(--dark);
    background-color: #32425c;
  }

.main-nav a:active {
    background-color: #1d2739;
}

.site-navigation {
    padding: 20px 55px;

    margin: 0;
    display: flex;
    justify-content: space-between;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
}
.breadcrumbs li {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 40px;
    font-family: "PT Sans","Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
    list-style: none;
}

.breadcrumbs li:first-child {
    width: 14px;
    height: 12px;
}

.breadcrumbs a {
    font-family: "PT Sans","Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}


.inner-container h1 {
    margin: 0;
    padding: 34px 30px;
    width: 940px;
    height: 89px;
    background-color: #f2f6f8;

    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
}

.catalog-colums {
    display: flex;
    justify-content: space-between;
  }

.filters {
    width:220px;
    margin: 0;
    margin-right: 20px;
    padding: 0;

    display: flex;
    flex-direction: column;
    font-family:"PT Sans","Arial", sans-serif;
    text-transform: uppercase;
    
}
.filters ul {
    padding: 0;
    margin: 0;
}

.filters li {
    list-style: none;
}

.filters h2{
    width: 220px;
    height: 38px;
    margin: 20px 0;
    padding: 0;
    background-color: #f7f3ec;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}


.filter-brands {
    width: 220px;
    height: 262px;
    padding: 0;
    margin: 0;
    border: none;
}

.filter-brands legend {
    margin: 0;
    margin-bottom:20px;
    padding: 0;
    width: 141px;
    height: 14px;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.filter-brands li {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
}

.filter-brands label {
    font-size: 15px;
    line-height: 20px;
}

.filter-power {
    width: 220px;
    height: 120px;
    padding: 0;
    margin: 0;
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
    border: none;
}

.filter-power legend {
    margin: 0;
    margin-bottom:20px;
    padding: 0;
    width: 141px;
    height: 14px;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.filter-power li {
    margin: 0;
    margin-bottom: 16px;
}

.secondary-button {
    background-color: #fff;
    border: solid 1px #e5e5e5;
    color:#000;
}

.filter-button {
    width: 140px;
    height: 38px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    
}




.catalog {
    width: 700px;
    font-family:"PT Sans","Arial", sans-serif;
}

.catalog ul {
    padding: 0;
    margin: 0;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-list .catalog-item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 21px;
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;
  list-style: none;
  font-weight: bold;

}

.catalog-list li:nth-child(3n) {
    margin: 0;
}



.show-buttons {
    width:218px; 
    height:170px;
    display: none;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .product-photo {
    display:none;
}

.catalog-item:hover .show-buttons {
 display: flex;
 flex-direction: column;
}

.catalog-list li {
    list-style: none;
}

.catalog-list h3 {
  width: 155px;
  height: 33px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
    width: 67px;
    height: 12px;
    font-size: 17px;
    line-height: 18px;
    text-decoration:line-through;
    color: #999999;
}

.price {
    width: 141px;
    height: 38px;
    font-size: 17px;
    line-height: 18px;
}

.add-to-cart {
  padding: 0;
  margin: 44px 42px 8px;

  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.add-to-cart:hover {
  background-color: #5fbb2d;
}
.add-to-cart:active {
  background-color: #518534;
  box-shadow: none;
}

.add-to-favorites {
  padding: 0;
  margin: 0 42px 8px;
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;

  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.add-to-favorites:hover {
    border: solid 3px #32425c;
}

.add-to-favorites:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  color: rgba(50, 66, 92, 0.3);
}

.main-wrapper {
    display: flex;
    padding-top:80px;
    margin-bottom:86px;
    }

.main-about {
    margin-right: 120px;
}


.main-about h2 {
    width: 302px;
    height: 21px;
    padding: 0;
    margin: 0;
    margin-bottom: 38px;
    font-size: 30px;
    color: #000000;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-about p,
.main-contacts p {
  margin: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.main-about p {
  width: 519px;
  height: 37px;
  margin-bottom:36px;
}

.main-about p:nth-of-type(2) {
    width: 386px;
    margin-bottom:24px;
}

.main-about ul {
    margin: 0;
}

.main-about li {
  margin-bottom:24px;
  font-size: 18px;
  line-height: 20px;
}
.main-about a {
    display: block;
    width: 220px;
    height: 38px;
}

.main-about a:hover,
.main-contacts a:hover,
.button:hover {
    background-color: #ca2c37;
}

.main-about a:active,
.main-contacts a:active,
.button:active {
    background-color: #ba2732;
}


.main-contacts h2 {
    width: 120px;
    height: 21px;
    padding:0;
    margin:0;
    margin-bottom:40px;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-contacts a {
  display: block;
  width: 300px;
  height: 38px;
  background-color: #ee3643;
}
.main-contacts p {
  width: 179px;
  height: 36px;
  margin:0;
  margin-bottom:36px;
  padding: 0;
  width: 179px;
}
.main-contacts img {
    padding:0;
    margin: 0;
    margin-bottom: 40px;
}

.pagination-list {
    display:flex;
    padding: 0;
    margin: 0;
}

.pagination-list li{
 list-style: none;
  
}

.pagination-list a {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-size: 13px;
  font-family: "PT Sans","Arial", sans-serif;
  line-height: 18px;
  color: #000;

}

.pagination-list a:hover {
    border: solid 1px #bdc6ca;
}

.pagination-list a:active {
    border: solid 1px #ee3643;
}

.pagination-list a:nth-child(4) {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.pagination-item-current {
    width: 38px;
  height: 38px;
    background-color: #ee3643;
}

.main-footer {
  background-color: #32425c;
}

.footer-logo {
    height: 68px;
    margin-bottom:32px;
    padding: 0;
}

.footer-top {
    display:flex;

}
.footer-info {
    display:flex;
    flex-direction: column;
}

.footer-contacts {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-phone {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-nav {
   
}

.footer-sections-nav,
.footer-categories-nav  {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}



.footer-nav li {
list-style: none;
}

.footer-nav a{
    width: 65px;
    height: 13px;
    font-size: 18px;
    line-height: 24px;
}

.footer-sections-nav li {
  margin-left:60px;
  margin-top:40px;
}

.footer-sections-nav a{
    
    color: #f1f5f7;
}

.footer-categories-nav li {
 margin-left:60px;
 margin-top:40px;
 margin-bottom:70px;
}

.footer-categories-nav a {
    color: #ffd180;
}

.footer-sections-nav a:hover,
.footer-categories-nav a:hover,
.footer-bottom a:hover  {
    text-decoration: underline;
}

.footer-sections-nav a:active {
    color: rgba(241, 245, 247, 0.5);
}

.footer-categories-nav a:active {
    color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color:#293449;
}

.footer-bottom-wrapper {
    display: flex;
justify-content: space-between;
}

.copyright {
    width: 228px;
    height: 33px;
    font-size: 16px;
    line-height: 18px;
    color:#fff;
}
.footer-social {
    margin: 0;
    padding: 0;
}

.footer-social li{
 list-style: none;
}

.footer-bottom .social-button{
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    color: #fff;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.footer-bottom p {
    font-size: 16px;
    line-height: 18px;
    color:#fff;
}

.footer-bottom a {
    color: #ffd180;
}
.footer-bottom a:active {
    color: #ee3643;
}



.feedback-modal {
    width: 620px;
    height: 430px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.feedback-form {
    font-size: 18px;
    line-height: 18px;
}

.feedback-form input {
    width: 220px;
    height: 38px;
    border: solid 2px #d7dcde;
}

.feedback-form textarea {
  width: 460px;
  height: 114px;
  border: solid 2px #d7dcde;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border: solid 2px #b5b5b5;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
    border: solid 2px #ee3643;
}

.modal-close {
  width: 21px;
  height: 21px;
}


.feedback-form .send-button {
    width: 460px;
    height: 38px;
}

.modal {
    display: none;
}